body {
	background-color: white;
}

.dark-mode {
  background-color: #2a292c;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2a292c;
    color: white;
  }
}


/* Title h1 */
h1 {
  color: #247CE4;
  font-size: 40px;
  font-family: 'Anton';
}

/* Title h2 */
h2 {
  font-size: 30px;
  font-family: 'Anton';
}


/* Paragraph */
p {
  font-size: 20px;
}


/* Link */
.hyperlink {
  color: #247CE4;
}


/* Navbar background */
.menu, .menu-space, .footer {
  background-color: #3B3A3D;
}

/* Navbar text */
.menu a {
  color: white;
}

/* Navbar hover */
.menu a:hover, .dropdown:hover .dropbtn {
  background-color: #808080;
  color: white;
}

/* Navbar active */
.menu-active {
  background-color: #247CE4;
  color: white;
}



.button {
  border: 3px solid gray;
}

.button:hover {
  border: 3px solid #247CE4;
}
