.header {
	display: flex;
	flex-wrap: wrap;
  align-items: center;
}


.button {
	background-color: transparent;
  border-radius: 3px;
  padding: 0px 20px;
  border: 3px solid gray;
  text-decoration: none;
  transition: 0.5s;
  height: 2em;
}


.header h1 {
	flex: 70%;
}

.button:link, .button:visited, .button:hover, .button:active {
  color: inherit;
  border: 3px solid red;
  transition: 0.5s;
}








<div class="header">
  <a class="button">
    <p style="margin: 5px;">◀ Triebzüge</p>
  </a>
  <h1 style="text-align: center;" >Triebzüge</h1>
</div>