.selbox {
	display: flex;
	flex-wrap: wrap;
	margin: 2%;
	text-decoration: none;
}

.selbox_spacing {
	flex: 20%;
  padding: 2%;
  margin-top: 1%;
}

.selbox_img {
	width: 100%;
	max-width: 400px;
	max-height: 200px;
	object-fit: contain;
}

.selbox_text {
	flex: 70%;
  padding: 2%;
  padding-left: 0px;
  padding-top: 0px;
  max-width: 21em;
}

h2 {
	color: #e2001a;
  font-size: 25px;
  font-family: 'Anton';
}

.tableleft {
	width: 200px;
}


/* Transformation */
@media screen and (max-width: 720px) {
	.selbox {
		flex-direction: column;
		margin-bottom: 8%;
	}
}

.selbox:hover {
	background-color: #3B3A3D;
}

.selbox:link, .selbox:visited, .selbox:hover, .selbox:active {
  color: inherit;
}