:root {
	--fontcolor: #C8C3BC;
	--border: 4px;
	--button-size: 99px;
}

/* @font-face {
	font-family: FiraSans;
	src: url(../elements/fira_sans.ttf);
	font-weight: normal;
} */

html {
	height: 100%;
}

body {
	background-color: #1F2123;
	min-height: 100%;
	margin: 0;
	color: var(--fontcolor);
	font-family: FiraSans;
	font-size: 50px;
	display: flex;
	flex-direction: column;
}

p {
	margin: 0;
	position: relative;
}

article {
	background-color: #282a2c;
	width: calc(100% - 40px - 1em);
	margin: 20px;
	padding: 0.5em;
	border-radius: 2px;
}

main {
	background-color: #282A2C;
	width: 100%;
	user-select: none;
	margin-top: auto;
	display: flex;
	justify-content: center;
}

/* keyboard */
/* ################################################## */
table {
	width: 600px;
}

td {
	background-color: #1F2123;
	text-align: center;
	height: var(--button-size);
	width: var(--button-size);
	border-radius: 2px;
	cursor: pointer;
	position: relative;
}

td:hover {
	background-color: #505456;
}

.menu {
	background-color: #282A2C;
}

.number {
	background-color: #2d2f30;
}

.has_submenu::after {
	display: inline-block;
	position: absolute;
	content: "";
	background-color: red;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	bottom: 5px;
	right: 5px;
}

/* Submenu */
.has_submenu:hover .submenu {
	display: flex;
}

.submenu {
	display: none;
	position: absolute;
	background-color: #505456;
	z-index: 2;
	bottom: var(--button-size);
	left: 0;
	border-radius: 4px;
}

.submenu p {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc( var(--button-size) - 1px);
	min-height: calc( var(--button-size) + 4px);
	border-radius: 2px;
}

.submenu p::after {
	/* Select el even mouse under submenu */
	display: inline-block;
	position: absolute;
	content: "";
	/* background-color: red; */
	height: var(--button-size);
	width: var(--button-size);
	bottom: calc(-1 * var(--button-size));
	left: 0;
}

/* Two line submenu */
.submenu_top {
	bottom: calc(2 * var(--button-size));
}

.submenu_top p::after {
	display: none;
}

/* Hover Effect */
.submenu p:hover {
	background-color: #1F2123;
	width: calc( var(--button-size) - 9px);
	min-height: calc( var(--button-size) - 4px);
	margin: 4px;
}

.submenu p:hover::after {
	bottom: calc(-1 * var(--button-size) - 4px);
	left: -4px;
}

@media (max-width: 600px) {
	:root {
		--border: 2px;
		--button-size: 15vw;
	}
	body {
		font-size: 6vw;
	}
	table {
		width: 100vw;
	}
	.has_submenu::after {
		height: 1.5vw;
		width: 1.5vw;
		bottom: 0.7vw;
		right: 0.7vw;
	}
}

/* Cursor */
/* ################################################## */

#input_el {
	border-right: red solid 0.2vw;
}

sup#input_el {
	border: none;
	position: relative;
}

sup#input_el::after {
	display: inline-block;
	position: absolute;
	content: "";
	background-color: red;
	height: 1.1em;
	width: 0.15vw;
	bottom: -0.5em;
	right: -0.1em;
}


/* sup#input_el + span {
	border-left: red solid 0.2vw;
} */

/* elments */
/* ################################################## */
.root_after {
	border-top: var(--border) solid var(--fontcolor);
	font-size: 82.5%;
}

.root_before {
	vertical-align: super;
	font-size: 50%;
}

.result {
	position: absolute;
	right: 0;
}